/3.-JavaJDBC/PersonaCapaDatos/nbproject/private/
/3.-JavaJDBC/PersonaCapaDatos/build/
/2.-ProgramacionJava/EjemploJavaDoc/nbproject/private/
/2.-ProgramacionJava/EjemploJavaDoc/build/
/2.-ProgramacionJava/EjemploJavaDoc/dist/