/ManejoVariables/nbproject/private/
/ManejoVariables/build/
/ManejoCadenasBasico/nbproject/private/
/ManejoCadenasBasico/build/
/ManejoOperadores/nbproject/private/
/ManejoOperadores/build/
/PrecedenciaOperadores/nbproject/private/
/PrecedenciaOperadores/build/
/EjemploIf/nbproject/private/
/EjemploIf/build/
/EjemploIfElse/nbproject/private/
/EjemploIfElse/build/
/EjemploIfElseIfElse/nbproject/private/
/EjemploIfElseIfElse/build/
/CalculaMes/nbproject/private/
/CalculaMes/build/